body {
  background-color: white;
}

h1 {
  padding: 1em;
  color: green;
  font-size: 1.2em;
  font-weight: 600;
}

#list1 {
  border: solid 1px;
  padding: .33em;
  color: blue;
}

#list2 {
  background-color: yellow;
}

ul :hover {
  background-color: pink;
}
